/*--- Extras ---*/

.fit-image {
  object-fit: cover;
}

a {
  color: #363838;
}
a:hover {
  color: #989c9e;
}

.pd-05 {
  padding: 0.5rem;
}

.background {
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center;
  height: 500px;

  background-size: cover;
}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}

.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: visible;
}

.tp-banner {
  width: 100%;
  position: relative;
  max-height: 278px;
  height: 278px;
}

.tp-banner > img {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-height: none;
  padding: 0px;
}

.headernav {
  height: 70px;
  border-bottom: 1px solid #c9cccd;
}

.content {
  padding: 20px 0px;
  background-color: #ecf0f1;
  border-top: solid 1px #e0e4e5;
}

.selecttopic {
  line-height: 69px;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 16px;
  color: #363838;
}

.selecttopic select {
  border: none;
}

.selecttopic .dropdown-menu {
  margin-top: -20px;
}

.headernav .search {
  color: #363838;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  margin-top: 16px;
  height: 38px;
}

.headernav .search .wrap {
  background-color: #f3f5f9;
  border-radius: 3px;
}

.headernav .search .txt {
  width: 85%;
}

.headernav .search input {
  border: none;
  box-shadow: none;
  background-color: #f3f5f9;
  color: #363838;
  font-size: 14px;
  padding: 8px 19px;
  height: 38px;
}

.headernav .search button {
  border: solid 1px #697683;
  box-shadow: none;
  background-color: #697683;
  color: #ffffff;
  font-size: 16px;
}

/*--- Avatar ---*/
.avt {
  margin-top: 16px;
  height: 38px;
}

.avt button {
  height: 38px;
  border: none;
  box-shadow: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans Bold", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1abc9c;
}

.avt .btn-primary:hover,
.avt .btn-primary:focus,
.avt .btn-primary:active,
.avt .btn-primary.active {
  background-color: #1abc9c;

  border: none;
  box-shadow: none;
}

.env {
  font-size: 18px;
  color: #cfd5d7;
  line-height: 38px;
  padding: 0 10px;
}

.avatar {
  position: relative;
  line-height: 38px;
}

.avatar img {
  border-radius: 50%;
}

.avatar .status {
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 50%;
  border: solid 2px #ffffff;
}

.dropdown.avatar .status {
  right: 18px;
}
.avatar .green {
  background-color: #80d3ab;
}

.avatar .red {
  background-color: #f27777;
}

.avatar .yellow {
  background-color: #ecd346;
}

.caret {
  padding: 0 5px;
}

.log-reg {
  width: 80px;
}

/*--- Content ---*/

.prevnext {
  font-size: 26px;
  color: #cfd5d7;
  margin-top: 11px;
  display: block;
}

.prevnext.last {
  margin-left: 20px;
}

.pagination-forum {
  margin: 19px auto;
  padding: 0px;
}

.pagination-forum > li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

.pagination-forum > li > a {
  min-width: 24px;
  height: 24px;
  font-size: 14px;
  color: white;
  background-color: #cfd5d7;
  border-radius: 2px;
  display: block;
  padding: 0 8px;
  line-height: 24px;
}

.pagination-forum li a.active,
.pagination-forum li a:hover,
.pagination-forum li a:focus,
.pagination-forum li a:active {
  color: #363838;
  background-color: #ffffff;
  box-shadow: 0 1px 2px #c9cccd;
  text-decoration: none;
}

/*--- Post ---*/

.post {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
}

.post .post-info {
  border-left: solid 1px #f1f1f1;
  padding-left: 0%;
}

.post .user-info {
  width: 15%;
  padding: 20px 0 15px 15px;
}

.post .post-text {
  width: 85%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  line-height: 25px;
}

.post .post-text p {
  color: #989c9e;
  font-size: 14px;
  font-family: "Open Sans Light" sans-serif;
  line-height: 25px;
}

.post-text textarea {
  border-radius: 2px;
  box-shadow: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  height: 150px;
}
.post-text textarea:focus,
.post-text textarea:active {
  background-color: #f1f1f1;
  box-shadow: none;
}

.post .avatar {
  width: 37px;
  margin-left: 5px;
}

.post .icons {
  width: 48px;
  border-top: solid 1px #f1f1f1;
  margin-top: 12px;
  padding-top: 7px;
}

.post h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363838;
  font-size: 24px;
  /* margin: 10px 0; */
}

.post .comments {
  border-bottom: solid 1px #f1f1f1;
  padding: 18px 0 25px 0;
  text-align: center;
}

.post .comments .comment-bg {
  background-color: #bdc3c7;
  border-radius: 2px;
  display: inline-block;
  padding: 12px 17px;
  color: #ffffff;
  font-size: 14px;
  position: relative;
}

.post .comments .comment-bg .mark {
  width: 11px;
  height: 11px;
  background-color: #bdc3c7;
  position: absolute;
  bottom: 0;
  left: 43%;
  margin-bottom: -5px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */
}

.post .views {
  border-bottom: solid 1px #f1f1f1;
  color: #9da6aa;
  font-size: 12px;
  text-align: center;
  line-height: 29px;
}

.post .views i {
  font-size: 14px;
}

.post .time {
  color: #9da6aa;
  font-size: 12px;
  text-align: center;
  line-height: 29px;
}

.post .time i {
  font-size: 14px;
}

.topinfo {
  border-bottom: solid 1px #f1f1f1;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}
.topinfoheader {
  font-weight: bold;
  font-size: 12px;
  color: #01426d;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.postinfo {
  border-top: solid 1px #f1f1f1;
  /* line-height: 50px; */
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.postinfo button {
  font-size: 12px;
}

.postsubmit {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.postinfo .likeblock {
  width: 30%;
}
.postinfo .other {
  width: 70%;
}

.up {
  color: #9da6aa;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.up.liked {
  color: #1abc9c;
}

.up i,
.down i {
  font-size: 20px;
  padding-right: 10px;
}

.up:hover {
  cursor: pointer;
  color: #1abc9c;
}

.down {
  color: #9da6aa;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.down:hover {
  cursor: pointer;
  color: #db7a7a;
}
/*--- Sidebar ---*/

.sidebar-block {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
}

.sidebar-block > h3 {
  color: #363838;
  font-size: 14px;
  margin: 0;
  padding: 20px;
}

.sidebar-block .divline {
  height: 1px;
  line-height: 1px;
  border-bottom: solid 1px #f1fff1;
}

.sidebar-block .block-text {
  font-size: 14px;
  color: #363838;
  padding: 20px;
}

ul.categories {
  margin: 0;
  padding: 0;
}

ul.categories > li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

ul.categories > li > a {
  font-size: 14px;
  color: #363838;
  line-height: 30px;
}

ul.categories .badge {
  background-color: #bdc3c7;
  font-size: 12px;
  color: white;
  margin-top: 7px;
  border-radius: 0.45rem;
}

.sidebarblock .blocktxt .small {
  font-size: 12px;
}

/*--- Poll ---*/

.chbox {
  width: 50px;
}

.progress-bar.color1 {
  background-color: #9b59b6;
}

.progress-bar.color2 {
  background-color: #3498db;
}

.progress-bar.color3 {
  background-color: #e67e22;
}
table.poll {
  width: 100%;
}

.progress {
  border-color: #ecf0f1;
  height: 31px;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 20px;
}

.progress-bar {
  font-size: 14px;
  color: white;
  line-height: 31px;
  text-align: left;
  padding-left: 10px;
  box-shadow: none;
}

.poll label {
  margin-bottom: 0;
  margin-left: 20px;
}

.poll input[type="radio"] {
  display: none;
}

.poll input[type="radio"] + label {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url("./images/radio.jpg") 0 0 no-repeat;
  vertical-align: middle;
  cursor: pointer;
}

.poll input[type="radio"]:checked + label {
  background: url("./images/radio.jpg") -31px 0 no-repeat;
}

td.chbox {
  vertical-align: top;
}

/*--- Footer ---*/

footer {
  height: 69px;
  line-height: 69px;
  color: #363838;
}

footer .logo {
  line-height: normal;
}

ul.socialicons li {
  display: inline-block;
  list-style: none;
  font-size: 18px;
  color: #bdc3c7;
  margin-left: 15px;
}

ul.socialicons li a {
  color: #bdc3c7;
}

ul.socialicons li a:hover {
  color: #363838;
}

/*----Register----*/
.postinfotop {
  color: #363838;
  padding: 20px;
  margin: 0;
  border-bottom: solid 1px #f1f1f1;
}

.post .posttext {
  width: 100%;
  padding: 20px 30px 15px 30px;
  /* color: #989c9e; */
  font-size: 14px;
  line-height: 25px;
}
.posttext p {
  font-size: 12px;
}

.input-fields input[type="text"],
.input-fields input[type="password"] {
  border-radius: 2px;
  box-shadow: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  height: 50px;
}

.input-fields select {
  border-radius: 2px;
  box-shadow: none;
  background-color: #f1f1f1;
  font-size: 14px;
  height: 50px;
}
.input-group input {
  border-radius: 2px;
  box-shadow: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  height: 50px;
}

.input-fields textarea {
  border-radius: 2px;
  box-shadow: none;
  font-size: 14px;
}

.postinfobot {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  padding: 0px 30px 0px 94px;
}

.postinfobot label {
  color: #bdc3c7;
  font-size: 12px;
}

.postinfobot button {
  background-color: #1abc9c;
}

.agreebox {
  width: 20px;
}

.agreebox input {
  width: 12px;
  box-shadow: none;
  margin-top: 8px;
  border-color: #bdc3c7;
}

.postreply {
  font-size: 12px;
  color: #bdc3c7;
  display: block;
}

.postreply button {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 2px;
  border: 0;
  box-shadow: none;
}

.smile a {
  margin-right: 20px;
  font-size: 20px;
  color: #bdc3c7;
}

/* NEW TOPIC */
.newtopic input[type="text"],
.newtopic input[type="password"] {
  border-radius: 2px;
  box-shadow: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  margin-: 20px;
  height: 50px;
}
.newtopic input::placeholder,
.newtopic textarea::placeholder {
  color: #989c9e;
}

.newtopic select {
  border-radius: 2px;
  box-shadow: none;
  border: solid 1px #cfd5d7;
  background-color: #ffffff;

  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  height: 50px;
}

.newtopic select:hover,
.newtopic select:focus,
.newtopic select:active {
  box-shadow: none;
}

.newtopic textarea {
  border-radius: 2px;
  box-shadow: none;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 14px;
  font-family: "Open Sans Light", sans-serif;
  height: 150px;
}
.newtopic textarea:focus,
.newtopic textarea:active {
  background-color: #f1f1f1;
  box-shadow: none;
}

.newtopic p {
  font-size: 14px;
  color: #363838;
  font-family: "Open Sans Light", sans-serif;
}

.newtopcheckbox input {
  margin-top: 5px;
  width: 18px;
  height: 18px;
}

/*--- Less than 767px ---*/

@media (max-width: 767px) {
  /*--- index.html ---*/
  .container-fluid {
    padding: 0;
  }
  .selecttopic {
    display: none;
  }
  .post .user-info {
    width: 30%;
    padding: 15px 0 15px 15px;
  }
  .post .post-text {
    width: 70%;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .postinfo .likeblock {
    width: 50%;
  }
  .postinfo .other {
    width: 50%;
  }
}

/*--- Small devices (768-991px) ---*/

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    padding: 0;
  }
  .post .posttext {
    padding: 15px 15px 15px 15px;
  }
  .post .user-info {
    width: 15%;
    padding: 15px 0 15px 15px;
  }

  .post .post-text {
    width: 85%;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .postinfo .likeblock {
    width: 40%;
  }

  .postinfo .other {
    width: 60%;
  }
}

/*--- Medium devices (992-1200px) ---*/
@media (min-width: 992px) and (max-width: 1200px) {
  .container-fluid {
    padding: 0;
  }
}

/*--- Large devices (more 1200px) ---*/
@media (min-width: 1201px) {
  .container-fluid {
    padding: 0;
  }

  .container {
    padding: 0;
  }
}

/* Not found */

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1 > span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: "Cabin", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
